<h4>Events</h4>
<br>
<ul class="list-group list-group-flush col-md-4">
<% @events.each do |event| %>
  <li class="list-group-item list-group-item-action"><a href="/events/<%= event.id %>"><%= event.name %></a></li>
<% end %>
</ul>
<br>
<a href="/events/new"><button class="btn btn-success">Add Event</button></a>
